<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/87224/pexels-photo-87224.jpeg');">
  <div class="banner-description">
    <h2>Les restaurants d'Elliot</h2>
  </div>
</div>
